html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
}

main {
    width: 635px;
    height: 475px;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0 10px 25px hsla(0, 0%, 0%, 0.15);
}

.text {
    padding: 40px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.012em;
    color: var(--cyan);
}

h2 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.012em;
}

.text_h {
    color: var(--bright-yellow);
    margin-top: 25px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.01em;
    margin-top: 10px;
    color: var(--grayish-blue);
    width: 555px;
}

.bottom {
    display: flex;
    flex-direction: row;
}

.subs {
    background-color: var(--cyan);
    width: 237px;
    height: 179px;
    padding: 40px;
}

.subs_h, .about_h {
    color: var(--white);
}

.price {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3 {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.012em;
    color: var(--white);
}

.price_text {
    margin-left: 12px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: var(--pale-cyan);
}

.subs_p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: var(--white);
    margin-top: 7px;
}

button {
    margin-top: 30px;
    width: 237px;
    height: 48px;
    border: none;
    border-radius: 6px;
    background-color: var(--bright-yellow);
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.01em;
    box-shadow: 0 10px 10px 2px hsla(0, 0%, 0%, 0.08);
    transition: 300ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: background-color, box-shadow;
}

.about {
    background-color: var(--bright-cyan);
    width: 238px;
    height: 179px;
    padding: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 19px;
}

li {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: var(--light-gray);
}

li:not(:last-child) {
    margin-bottom: 3px;
}

button:hover {
    cursor: pointer;
    background-color: var(--bright-green);
    box-shadow: none;
}

.attribution {
    position: absolute;
    bottom: 15px;
    font-size: 15px;
    text-align: center;
    color: var(--grayish-blue);
}

.attribution a {
    color: var(--cyan);
}

@media (max-width: 700px) {
    body {
        height: auto;
    }

    main {
        width: 311px;
        height: 722px;
        margin: 50px 0;
    }

    .text {
        padding: 28px 24px 32px;
    }

    h1 {
        font-size: 20px;
    }

    .text_h {
        margin-top: 24px;
        font-size: 15px;
        line-height: 135%;
    }

    .description {
        font-size: 14px;
        line-height: 185%;
        margin-top: 16px;
        width: 263px;
    }

    .bottom {
        flex-direction: column;
    }

    .subs {
        width: 263px;
        height: 180px;
        padding: 24px;
    }

    button {
        width: 263px;
        height: 48px;
    }

    .about {
        width: 263px;
        height: 176px;
        padding: 25px 24px 26px;
    }

    .attribution {
        font-size: 13px;
    }
}

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-cyan: hsl(179, 47%, 52%);
    --bright-yellow: hsl(71, 73%, 54%);

    --bright-green: hsl(137, 73%, 54%);

    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    --white: hsl(0, 0%, 100%);
    --pale-cyan: hsl(178, 60%, 62%);
}